/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */




.Container {
  align-items: center;
  min-height: 100vh;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  margin-top: 10px;
  padding: 10px 40px;
  border: none;
  background-color: rgb(6, 191, 233);
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
}

img {
  width: 400px;
  object-fit: cover;
  height: 400px;
}

.App {
  display: flex;
  align-items: center;
  width: 150vw;
  justify-content: center;
  background-color: #262b36;
}